{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block main %}
<section class="hero">
    <div class="container">
        <div class="left-col">
            <p class="subhead">It's simple. Not easy.</p>
            <h1>Dashboards and Databases</h1>
            <div class="hero-cta">
                <a href="#" class="primary-cta">See For Yourself</a>
            </div>
        </div>
        <img class="hero-img" src="{{ url_for('static', filename='images/shiftgarten.png') }}" alt="Shiftgarten Login">
    </div>
</section>

<section class="feature-section">
    <div class="container">
        <ul>
            
            <li>Web interface to view/enter/send data</li>
            <li>Secured with login/passwords</li>
            <li>Centralized database for multiple users</li>
            <li>Downloadable reports in excel/text/etc</li>
            <li>Everything customized</li>

        </ul>
        <img class="hero-img" src="{{ url_for('static', filename='images/shiftgarten_dashboard.png') }}" alt="Shiftgarten Dashboard">
    </div>
</section>
<section class="testimonials-section">
    <div class="container">
        <ul>
            <li>
                <img src="images/person.jpg" alt="Emily">
                <blockquote>"Nick did an excellent job!"</blockquote>
                <cite>- Emily</cite>
            </li>
            <li>
                <img src="images/person.jpg" alt="Mark">
                <blockquote>"Couldn't have done it without him!"</blockquote>
                <cite>- Mark</cite>
            </li>
            <li>
                <img src="images/person.jpg" alt="Shayan">
                <blockquote>"Nick is hte smarteset man in the universe"</blockquote>
                <cite>- Shayan</cite>
            </li>

        </ul>
    </div>
</section>
<section class="contact-section">
    <div class="container">
        <div class="contact-left">
            <h2>Contact</h2>
            <form action="">
                <label for ="name">Name</label><!--if for name is designated it will allow to click on label and activate text field-->
                <input type="text" id="name" name="name">
                <label for ="email">Email</label><!--if for name is designated it will allow to click on label and activate text field-->
                <input type="email" id="email" name="email">
                <label for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>

                <input type="submit" class="send-message-cta" value="send_message">



            </form>
        </div>
        <div class="contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.7576949561!2d2.2770203764140753!3d48.85895068076766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sen!2sfr!4v1631597989694!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
{% endblock %}