<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        
        <!-- Import the Bootstrap stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>




    <title>{% block title %}{% endblock %}</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar_supplement">

    <div class="container-fluid">
      <a class="navbar-brand logo" href="https://dashboardsanddatabases.com/">Dashboards And Databases</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse " id="navbarColor01">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link active" href="https://dashboardsanddatabases.com/">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dataTools">Data Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

      </ul>
      <form class="d-flex">
        <!--<input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
      </form>
    </div>
  

    </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}

      <div class="alert alert-{{ category }} alert_nick">
        <i class="close icon" onclick=delete_flash(this)></i>
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
<body>



  




<!--
<body class="bg-pecondary body_margin">
    <div class="navbar">
        <div class="container">
            

            <img id="mobile-cta" class="mobile-menu" src="{{ url_for('static', filename='images/menu.svg') }}" alt="Open Navigation">

            <nav>
                <img id="mobile-exit" class="mobile-menu-exit" src="{{ url_for('static', filename='images/exit.svg') }}" alt="Close Navigation">
                <ul class="primary-nav">
                    <li class="current"><a href="#">Home</a></li>
                    <li><a href="#">Data Tools</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
                <ul class="secondary-nav">
                    
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Textbox</a></li>
                </ul>
            </nav>
        </div>
    </div>
-->


    {% block main %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function delete_flash(flash){
        $(flash).parent().remove()
    }
</script>
</body>

</html>


